section.challenges {
  margin-bottom: 50px;
}

section.challenges table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

section.challenges th, td {
  text-align: left;
  padding: 8px;
}

section.challenges tr:nth-child(even){background-color: #f2f2f2}