section.friends {
  background-color: #fff;
  max-width: 300px;
  margin: 10px auto;
  padding: 15px;
  overflow: hidden;
}
section.friends .chip {
  display: inline-block;
  padding: 0 20px;
  width:100%;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

section.friends .chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

section.friends .closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

section.friends .closebtn:hover {
  color: #000;
}

section.friends button {
  margin-top: 15px;
  padding-left: 10px;
  color: #888;
  /* font-weight: bold; */
  float: right;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
}

section.friends button:hover {
  color: #000;
}

.addFriendLink, .friendRequests {
  font-size: 10px;
  text-decoration: none;
  color: #000;
  background-color: #D3D3D3;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5%;
  padding: 1em;
  display: inline-block;
}

.addFriendLink {
  float: left;
}

.friendRequests {
  float: right;
}

.addFriendLink:hover, .friendRequests:hover {
  background-color: #78D2A8;
}

